﻿@{
    Layout = "/Views/Shared/DLayout.cshtml";
}
@model List<PetCareManagementSystem.Models.Clinic>
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        th:first-child, td:first-child {
            width: 40px; /* Adjust the width of the first column */
        }
    </style>
</head>
<body style="background-color:#EFE5DC">

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-10">
                <div class="col-md-6 mb-4 mt-4">
                    <h5 class="mb-0 title-with-icon">
                        <i class="bi bi-list title-icon"></i> Clinic List
                    </h5>
                </div>
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Message"]
                    </div>
                }
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <a class="btn btn-success" asp-controller="Clinic" asp-action="Add"><i class="bi bi-plus"></i>&nbsp;Add Clinic</a>
                        </div>
                        <div class="col-md-6">
                            <div class="row justify-content-end">
                                <div class="col-md-3 text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="actionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown">
                                            <a class="dropdown-item" href="#">Action 1</a>
                                            <a class="dropdown-item" href="#">Action 2</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <form class="form-inline">
                                        <div class="input-group border rounded-pill" style="width: 250px; height:p; background-color: #99A17B;">
                                            <input class="form-control border-0 rounded-pill" type="search" placeholder="Search" aria-label="Search"
                                                   style="outline: none; box-shadow: none;">
                                            <button class="btn rounded-pill" type="submit" style="outline: none;" onfocus="this.blur()">
                                                <i class="bi bi-search" style="color: #FFFFFF;"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll"></th>
                            <th>Clinic ID</th>
                            <th>Clinic Image</th>
                            <th>Clinic Name</th>
                            <th>City Address</th>
                            <th>Description</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var clinic in Model)
                            {
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>@clinic.ClinicID</td>
                                    <td><img src="/clinic/@clinic.ImageFileName" width="100" height="100" style="border-radius:10px;" /></td>
                                    <td>@clinic.ClinicName</td>
                                    <td>@clinic.CityAddress</td>
                                    <td>@clinic.Description</td>
                                    <td>@clinic.CreatedAt.ToString("MM/dd/yyyy")</td>
                                    <td style="white-space:nowrap">
                                        <a class="btn btn-primary btn-sm-3" asp-controller="Clinic" asp-action="Edit"
                                           asp-route-id="@clinic.ClinicID"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-danger btn-sm-3" asp-controller="Clinic" asp-action="Delete"
                                           asp-route-id="@clinic.ClinicID" onclick="return confirm('Are you sure you want to delete this clinic information?')">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9">
                                    <div>
                                        No clinics available at this moment!
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script>
                    // JavaScript code to toggle dropdown menu
                    document.addEventListener("DOMContentLoaded", function () {
                        var dropdownToggle = document.querySelector('.dropdown-toggle');
                        var dropdownMenu = document.querySelector('.dropdown-menu');

                        dropdownToggle.addEventListener('click', function () {
                            dropdownMenu.classList.toggle('show');
                        });

                        document.addEventListener('click', function (e) {
                            if (!dropdownToggle.contains(e.target) && !dropdownMenu.contains(e.target)) {
                                dropdownMenu.classList.remove('show');
                            }
                        });
                    });
                </script>

                <script>
                    // JavaScript code to select/deselect all checkboxes
                    document.getElementById("selectAll").addEventListener("click", function () {
                        let checkboxes = document.querySelectorAll("input[type='checkbox']");
                        checkboxes.forEach(function (checkbox) {
                            checkbox.checked = document.getElementById("selectAll").checked;
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>